* {box-sizing: border-box}

/* Set height of body and the document to 100% */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* include this so that body fills the viewport */
body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Style tab links */
.tablink {
  background-color:  rgb(209, 0, 122); 
  color: #9ec3e9;
  float: left;
  border: solid grey 1px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  width: 33.33%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content */
.tabcontent {
  color: black;
  border: solid grey 5px;
  background-color: #9ec3e9;
  display: none;
  padding: 60px 40px;
  height: 100%;
  width: 100%; 
  overflow-y: auto;
}

h1 {
    font-size: 32pt;
    margin-bottom: -1pt;
}

h2 {
    font-size: 26pt;
}

h3 {
    font-size: 22pt;
    margin-bottom: 0;    
}

h4 {
    font-size: 18pt;
    margin-bottom: -1pt;
}

h5 {
    font-size: 14pt;
    margin-bottom: -1pt;
}

h6 {
    font-size: 12pt;
    margin-top: 5pt;
    margin-bottom: -1pt;

}

.photo-container {
    width: 50%;
    position: relative;  
}

.tagline {
    font-size: larger;
}

#my-photo {
    width: 20%;
    position: absolute;
    top: 130px;
    right: 60px;
    opacity: 0.5;
    transition: opacity 1;
    border: solid 5px rgb(209, 0, 122); ;
}

#my-photo:hover {
  opacity: 1;
}

div.list-content {
    font-size: 10pt;
}
